body {
  background: #f8f9fa;
}
.content {
  max-width: 500px;
  margin: 2rem auto 0 auto;
  border: 1px solid #cccccc;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
}
.content ul {
  padding: 0;
  width: 100%;
}
.content ul > li {
  display: flex;
  padding: 0 10px;
}
.content ul > li.category {
  background: #e6e6e6;
}
.content li > span {
  width: 100%;
}
.content li > ul > li{
  display: flex;
  margin: 0 -10px;
}
.content svg {
  width: 24px;
  height: 24px;
}
